body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: coral;
    color: white;
    text-align: left;
    padding: 20px;
}

.header p {
    margin-top: 5px; /* Reduced top margin to 5px */
    margin-bottom: 0;
}

.container {
    display: flex;
    margin-left: 0px;
}

.sidebar {
    background-color: green;
    color: white;
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    border-bottom: 2px solid white; /* Add underline */
    padding-bottom: 5px;
}

.content {
    flex-grow: 1;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
}

.footer {
    background-color: crimson;
    color: white;
    text-align:  start;
    font-size: 30px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
