.contact-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  height: 450px;
  background-color: #f7f7f7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contact-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.5rem;
  color: #000000;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #000000;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.contact-form textarea {
  resize: vertical;
  height: 50px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #f39c12;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #e67e22;
}

.submit-btn:focus {
  outline: none;
  box-shadow: 0 0 5px #f39c12;
}

/* Add a background image or gradient */
.contact-container {
  background: linear-gradient(#A07855FF, #783201);
}

/* Add animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.contact-container {
  animation: fadeIn 1s ease-in;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contact-container {
    margin: 20px;
    padding: 15px;
  }

  .contact-container h1 {
    font-size: 2rem;
  }

  .submit-btn {
    font-size: 1rem;
  }
}
